@import './../../../assets/scss/utils/mixins.scss';

.duvidas-frequentes-wrapper {
  @include flexbox(flex-start, flex-start, column);
  background: var(--gray-2);

  ion-header {
    ion-toolbar {
      --min-height: 0;

      header.duvidas-frequentes-header {
        @include flexbox(center, space-between, row);
        padding: 16px;

        h2 { margin: 0; }
        ion-button { margin-right: -5px; }
      }

      ion-button {
        font-size: 26px;
        min-height: 0;
        min-width: 0;
      }
    }
  }

  ion-content {
    overflow: hidden;
    border-radius: 16px 16px 0 0;
    --background: linear-gradient(to bottom, var(--gray-ed), var(--white));

    .descricao-wrapper {
      padding: 32px;
    }
  }
}

.accordion-wrapper {
  margin: 0 32px;
  border-radius: 8px;
  overflow: hidden;
  height: auto;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  ion-accordion {
    &:hover {
      background: var(--gray-ed);
    }

    &.accordion-expanded {
      background: var(--gray-fa);
    }

    .conteudo-do-accordion {
      padding: 0 32px 20px 32px;
    }

    ion-item.titulo-do-accordion {
      --padding-start: 32px;
      --padding-end: 32px;
      --inner-padding-end: 0;
      --background: transparent;
      --background-hover: transparent;
      --padding-top: 6px;
      --padding-bottom: 6px;
    }
  }
}
