<div class="duvidas-frequentes-wrapper full-size oveflow-hidden">
  <ion-header
  mode="ios"
  class="ion-no-border bg-gray no-ion-padding">
    <ion-toolbar
    class="ion-bg-gray no-ion-padding">
      <header class="duvidas-frequentes-header full-width">
        <ion-button
        (click)="fecharModal()"
        class="white-clear no-ion-padding"
        fill="clear"
        title="Fechar"
        mode="ios">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </header>
    </ion-toolbar>
  </ion-header>

  <ion-content
  class="ion-bg-gray">
    <section class="duvidas-frequentes-content">

    </section>
  </ion-content>

</div>
