<div
class="category-card-wrapper"
[ngClass]="{ 'selecionado': foiSelecionado, 'especial' : especial }">

  <ion-fab mode="ios">
    <ion-fab-button mode="ios">
      <ion-icon [name]="foiSelecionado ? icone : (icone + '-outline')"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-text
  class="text-center"
  mode="ios">
    <p
    class="fs-14 mg-top-8 color-gray-text"
    [ngClass]="[value, foiSelecionado ? 'animate__animated animate__fadeOut' : '']">
      {{ texto?.pt }}
    </p>
  </ion-text>
</div>


