
<ion-content
#sobreNosConteudo
class="ion-bg-gray"
[forceOverscroll]="false">
  <section class="sobre-nos-hero efeito-rodape">
    <div class="anfitrion-bg">
      <img
      title="anfitrion"
      src="./../../../assets/images/backgrounds/anfitrion-bg.jpeg"
      alt="background"
      class="animate__animated animate__fadeIn animate__slower">
    </div>

    <anf-header
    [mostrarLogo]="false"
    [darkMode]="true"
    [origem]="'tela-sobre-nos'"
    class="full-width">
    </anf-header>

    <div class="sobre-nos-swiper-wrapper">
      <swiper-container
      #sobreNosSwiper
      (swiperslidechange)="slideSobreNosMudou()"
      class="full-height"
      enable-touch-move="false"
      slides-per-view="1"
      speed="400">
        <swiper-slide>
          <div class="sobre-nos-content slide-3">
            <anf-logo [darkMode]="true" [brand]="'anfitrion'" [animated]="indexAtual === 0" [type]="'big'"></anf-logo>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <anf-scroll-down
    [color]="'white'"
    class="animate__animated animate__fadeIn animate__delay-1s animate__slow" />
  </section>

  <section class="sobre-nos-conteudo">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col
        size="12"
        size-lg="7">
          <ion-row>
            <ion-col size="12">
              <ion-text
              class="color-gray-text texto-longo line-height-20"
              mode="ios">
                <h2 class="font-baloo color-white">
                  {{ 'TELA_SOBRE.TITULO_CONTEUDO' | translate }}<span class="mg-left-5 color-linear"><b>{{ informacoes.primeiroNome ? informacoes.primeiroNome : ('GERAL.VISITANTE' | translate) }}</b>,</span>
                </h2>

                <p class="fs-16 color-white font-w-300">
                  {{ 'TELA_SOBRE.DESCRICAO.PARAGRAFO_UM' | translate }}
                </p>

                <p class="fs-16 color-white font-w-300">
                  <ng-container *ngFor="let texto of ('TELA_SOBRE.DESCRICAO.PARAGRAFO_DOIS' | translate); let i = index">
                    <ng-container *ngIf="i !== 1">
                      {{ texto }}
                    </ng-container>

                    <ng-container *ngIf="i === 1">
                      <span class="color-white highlighted"><b>{{ texto }}</b></span>
                    </ng-container>
                  </ng-container>
                </p>

                <p class="fs-16 color-white mg-bottom-32 font-w-300">
                  <ng-container *ngFor="let texto of ('TELA_SOBRE.DESCRICAO.PARAGRAFO_TRES' | translate); let i = index">
                    <ng-container *ngIf="i === 0">
                      {{ texto }}
                    </ng-container>

                    <ng-container *ngIf="i === 1">
                      <b>{{ texto }}</b>.
                    </ng-container>
                  </ng-container>
                </p>
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-col>

        <ion-col size="12" size-lg="5">
          <ion-row>
            <ion-col size="12">
              <div class="insta-wrapper">
                <ion-fab
                  class="p-relative"
                  *ngIf="accordionAberto"
                  mode="ios">
                    <ion-fab-button
                    [title]="'@' + informacoes.anfitrion.instagram"
                    (click)="irParaInstagram()">
                      <ng-container *ngIf="!querendoIrParaInstagram">
                        <img
                        [title]="'@' + informacoes.anfitrion.instagram"
                        src="./../../../assets/images/logotipos/logo.jpeg"
                        alt="logo">
                      </ng-container>

                      <ng-container *ngIf="querendoIrParaInstagram">
                        <ion-spinner name="lines-sharp"></ion-spinner>
                      </ng-container>
                    </ion-fab-button>
                  </ion-fab>

                  <ion-text mode="ios" class="line-height-18">
                    <p class="fs-14 color-white">
                      Instagram <b>oficial</b>
                    </p>

                    <p class="fs-16">
                      <b>
                        <a
                        class="font-baloo color-linear"
                        href="javascript:void(0)"
                        [title]="'@' + informacoes.anfitrion.instagram"
                        (click)="irParaInstagram($event)">
                          {{ '@' + informacoes.anfitrion.instagram }}
                        </a>
                      </b>
                    </p>
                  </ion-text>

                  <ion-button
                  (click)="irParaInstagram()"
                  [title]="'@' + informacoes.anfitrion.instagram"
                  shape="round"
                  fill="solid"
                  size="normal"
                  class="main icone-a-direita mg-top-32"
                  mode="md">
                    {{ 'GERAL.SEGUIR' | translate }}
                    <ion-icon name="logo-instagram"></ion-icon>
                  </ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- RODAPÉ -->
  <anf-footer [darkMode]="true">
    <ion-button
    [title]="('COMPONENTS.VOLTAR_PARA_O_TOPO.TEXTO.0' | translate) + ' ' + ('COMPONENTS.VOLTAR_PARA_O_TOPO.TEXTO.1' | translate)"
    (click)="scrollarConteudoParaTopo(sobreNosConteudo, 1000)"
    class="botao-scroll-to-top main-clear fs-13 tipo-link"
    fill="clear"
    shape="round"
    mode="md">
      {{ 'COMPONENTS.VOLTAR_PARA_O_TOPO.TEXTO.0' | translate }} <span class="mg-left-5 mg-right-5"><b>{{ 'COMPONENTS.VOLTAR_PARA_O_TOPO.TEXTO.1' | translate }}</b></span> <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-button>
  </anf-footer>
</ion-content>
