<ion-content
#conteudoSugestoes
(ionScroll)="esconderComponenteScroll($event)"
[scrollEvents]="true"
[forceOverscroll]="false">
  <section class="hero full-width"
  [ngClass]="{'overflow-hidden': !heroEncolhido}">
    <div
    class="sugestoes-header full-width bg-gray"
    [ngClass]="heroEncolhido &&  sugestoes.length? 'hero-encolhido' : heroEncolhido && !sugestoes.length ? 'hero-curto' : 'hero-expandido'">
      <anf-header [darkMode]="true" [origem]="'tela-sugestoes'"></anf-header>

      <!-- SWIPER (Aparece somente com hero encolhido ) -->
      <div class="hero-swiper-wrapper" *ngIf="heroEncolhido && sugestoes.length">
        <swiper-container
        (swiperslidechange)="slideMudou()"
        #sugestoesSwiper
        centered-slides="true"
        class="full-height"
        slides-per-view="1.5"
        speed="500"
        space-between="0"
        [breakpoints]="{
          '465': {
            slidesPerView: 2,
            spaceBetween: 4,
            centeredslides: true
          },
          '768': {
            slidesPerView: 2.7,
            spaceBetween: 4,
            centeredslides: true
          },
          '1024': {
            slidesPerView: 3.4,
            spaceBetween: 4,
            centeredslides: true
          },
          '1200': {
            slidesPerView: 4,
            spaceBetween: 4,
            centeredslides: true
          }
        }">
          <swiper-slide *ngFor="let sugestao of sugestoes">
            <anf-sugest-card
            [sugestao]="sugestao">
            </anf-sugest-card>
          </swiper-slide>
        </swiper-container>
      </div>

      <!-- BANNER PROMOCIONAL OU APRESENTAÇÃO -->
      <div class="hero-ads-wrapper mg-top-32" *ngIf="heroEncolhido && !sugestoes.length">
        <div class="hero-ads-container">
          oakdoakiodjaiojda
        </div>
      </div>
    </div>

    <!-- CONTADOR DE SUGESTÕES (Aparece somente com hero encolhido)-->
    <div
    class="swiper-info"
    *ngIf="heroEncolhido && totalDeSugestoes">
      <ion-text
      class="line-height-22"
      mode="ios"
      class="color-gray-text fs-14 text-center">
        <p><span class="fs-18"><b>{{ indexAtual  }}</b></span> {{ 'GERAL.DE' | translate }} {{ totalDeSugestoes }}</p>
        <p class="fs-12">{{ 'GERAL.SUGESTOES' | translate }}</p>
      </ion-text>

      <anf-scroll-down *ngIf="mostrarComponenteScrollDown" [color]="'gray'"/>
    </div>

     <!-- SE NÃO ENCONTRAR SUGESTÕES -->
    <div
    class="sem-sugestoes-info"
    *ngIf="heroEncolhido && !totalDeSugestoes">
      <ion-text
      class="line-height-22"
      mode="ios"
      class="color-gray-mid fs-14 text-center">
        <p>{{ 'TELA_SUGESTOES.AINDA_NAO_TEMOS_SUGESTOES' | translate }}</p>
        <p>{{ 'GERAL.PARA' | translate }} <b>{{ informacoes.cidadeEscolhida.text }}</b></p>
      </ion-text>

      <ion-button
      (click)="sugerirConteudo()"
      mode="md"
      fill="solid"
      shape="round"
      [title]="'TELA_SUGESTOES.SUGERIR_CONTEUDO' | translate"
      class="main fs-13 icone-a-direita">
        {{ 'TELA_SUGESTOES.SUGERIR_CONTEUDO' | translate }} <ion-icon name="logo-whatsapp"></ion-icon>
      </ion-button>

      <anf-scroll-down [color]="'gray'"/>
    </div>
  </section>

  <section class="sugestoes-content">
    <ion-grid [fixed]="true">
      <ion-row>
        <!-- SOBRE -->
        <ion-col size="12" size-md="6">
          <ion-text
          class="color-gray-text texto-longo line-height-16"
          mode="ios">
            <h1 class="fs-20 font-baloo">{{ 'TELA_SUGESTOES.SOBRE.TITULO' | translate }} <b>{{ informacoes.cidadeEscolhida.text }}</b></h1>

            <ng-container
              *ngFor="let texto of informacoes.cidadeEscolhida.descricao?.[informacoes.idioma.value]; let i = index">
                <p class="fs-14 font-w-300">
                  {{ texto }}
                </p>
              </ng-container>
          </ion-text>

          <ion-button
          (click)="irParaPontosTuristicos()"
          shape="round"
          fill="solid"
          [title]="('TELA_SUGESTOES.SOBRE.BOTAO_CONHECER_PONTOS_TURISTICOS.0' | translate) + ' ' + ('TELA_SUGESTOES.SOBRE.BOTAO_CONHECER_PONTOS_TURISTICOS.1' | translate)"
          class="main fs-13 mg-top-32 mg-bottom-32"
          mode="md">
            {{ 'TELA_SUGESTOES.SOBRE.BOTAO_CONHECER_PONTOS_TURISTICOS.0' | translate }} <span class="mg-left-5"><b>{{ 'TELA_SUGESTOES.SOBRE.BOTAO_CONHECER_PONTOS_TURISTICOS.1' | translate }}</b></span>
          </ion-button>
        </ion-col>

        <!-- O ANFITRION -->
        <ion-col size="12" size-md="6">
          <ion-text
          class="color-gray-text texto-longo line-height-16"
          mode="ios">
            <h1 class="fs-20 font-baloo">{{ 'TELA_SUGESTOES.O_QUE_E.TITULO' | translate }} <b>anfitrion</b>?</h1>

            <ng-container
            *ngFor="let texto of ('TELA_SUGESTOES.O_QUE_E.TEXTO' | translate); let i = index">
              <p class="fs-14 font-w-300">
                {{ texto }}
              </p>
            </ng-container>
          </ion-text>

          <ion-button
          (click)="irParaSobreNos()"
          shape="square"
          fill="clear"
          [title]="('TELA_SUGESTOES.O_QUE_E.BOTAO_SAIBA_MAIS.0' | translate) + ' ' + ('TELA_SUGESTOES.O_QUE_E.BOTAO_SAIBA_MAIS.1' | translate)"
          class="fs-13 mg-top-32 mg-bottom-32 tipo-link main-clear com-underline"
          mode="md">
            <span class="mg-right-5"><b>{{ 'TELA_SUGESTOES.O_QUE_E.BOTAO_SAIBA_MAIS.0' | translate }}</b></span> {{ 'TELA_SUGESTOES.O_QUE_E.BOTAO_SAIBA_MAIS.1' | translate }}
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>

  <!-- RODAPÉ -->
  <section class="sugestoes-rodape">
    <anf-footer>
      <ion-button
      fill="clear"
      shape="round"
      mode="md"
      title="Voltar para o topo"
      (click)="irParaTopoDaTela()"
      class="botao-scroll-to-top main-clear fs-13 tipo-link">
        {{ 'COMPONENTS.VOLTAR_PARA_O_TOPO.TEXTO.0' | translate }} <span class="mg-left-5 mg-right-5"><b>{{ 'COMPONENTS.VOLTAR_PARA_O_TOPO.TEXTO.1' | translate }}</b></span> <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </anf-footer>
  </section>
</ion-content>
