<div class="language-button-wrapper">
  <ion-button
  id="seletor-de-idioma"
  [title]="'COMPONENTS.SELETOR_DE_IDIOMAS.TITULO' | translate"
  shape="round"
  fill="solid"
  size="normal"
  class="main icone-a-direita"
  mode="md">
    {{ idiomaSelecionado.text[idiomaSelecionado.value] }}
    <ion-icon name="chevron-down-outline"></ion-icon>
  </ion-button>

  <ion-text mode="ios" class="full-width text-center">
    <p class="fs-12 color-gray-text">
      {{ 'GERAL.ALTERE_QUANDO_QUISER' | translate }}
    </p>
  </ion-text>

  <ion-popover
  [dismissOnSelect]="true"
  mode="ios"
  trigger="seletor-de-idioma"
  side="bottom"
  alignment="center">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-list
        class="seletor-de-idioma"
        mode="ios"
        lines="none">
          <ion-item
          *ngFor="let idioma of idiomas"
          (click)="definirIdioma(idioma)"
          [ngClass]="{ 'selected' : idiomaSelecionado.value === idioma.value }"
          [title]="'COMPONENTS.SELETOR_DE_IDIOMAS.TITULO' | translate"
          mode="ios">
            <img
            [src]="'./../../../assets/flags/' + idioma.value + '.svg'"
            alt="flag"> {{ idioma.text[idiomaSelecionado.value] }} <ion-icon name="checkmark-outline" *ngIf="idiomaSelecionado.value === idioma.value"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>
</div>
