
:root {
  --lemon: #CBFD03;
  --online: #9DFD38;
  --neon: #01FE03;

  --green: #769834;
  --green-dark: #547D0E;

  --gray-dark: #686969;
  --gray-light: #D0D0C5;
  --gray-mid: #959696;

  --gray-1: #111;
  --gray-2: #222;
  --gray-15: #151515;
  --gray-2: #222;
  --gray-25: #252525;
  --gray-3: #333;
  --gray-4: #444;
  --gray-6: #666;
  --gray-8: #888;

  --font-baloo: 'Baloo 2', 'Roboto', cursive;

  --white: #fff;

  --gray-a: #aaa;

  --transparent: transparent;

  --danger: #dc3545;

  --gray-fa: #fafafa;

  --gray-text: #4D4E53;

  --gray-f7: #f7f7f7;

  --gray-ed: #ededed;

  /** PRINCIPAL **/
  --ion-color-primary: #769834;
	--ion-color-primary-rgb: 118,152,52;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #68862e;
	--ion-color-primary-tint: #84a248;
}

html {
  /*
   * For more information on dynamic font scaling, visit the documentation:
   * https://ionicframework.com/docs/layout/dynamic-font-scaling
   */
  --ion-dynamic-font: var(--ion-default-dynamic-font);
}
