// TEXTs
.font-baloo { font-family: var(--font-baloo) !important; }

.line-height-32 { line-height: 32px; }
.line-height-23 { line-height: 23px; }
.line-height-22 { line-height: 22px; }
.line-height-20 { line-height: 20px; }
.line-height-18 { line-height: 18px; }
.line-height-16 { line-height: 16px; }

.font-w-100 { font-weight: 100; }
.font-w-200 { font-weight: 200; }
.font-w-300 { font-weight: 300; }
.font-w-normal { font-weight: 400; }

// ALIGNs
.text-center { text-align: center;}
.text-right { text-align: right;}
.text-left { text-align: left;}

// FONT SIZEs
.fs-38 { font-size: 38px; }
.fs-32 { font-size: 32px; }
.fs-28 { font-size: 28px; }
.fs-24 { font-size: 24px; }
.fs-22 { font-size: 22px; }
.fs-20 { font-size: 20px; }
.fs-18 { font-size: 18px; }
.fs-16 { font-size: 16px; }
.fs-14 { font-size: 14px; }
.fs-13 { font-size: 13px; }
.fs-12 { font-size: 12px; }

// WIDTHs & HEIGHTs
.full-size { width: 100%; height: 100%; }
.full-height { height: 100%; }
.full-width { width: 100%; }

// BACKGROUNDs
.ion-bg-gray { --background: var(--gray-2); }
.ion-bg-white { --background: var(--white); }
.ion-bg-transparent { --background: var(--transparent); }
.ion-bg-gray-fa { --background: var(--gray-fa); }

.bg-gray { background: var(--gray-2); }
.bg-transparent { background: var(--transparent); }
.bg-white { background: var(--white); }
.bg-gray-fa { background: var(--gray-fa); }

// OTHERs
.overflow-hidden { overflow: hidden; }
.position-relative { position: relative; }
.text-lowercase { text-transform:  lowercase; }

// CENTERING
.center-w-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-w-margin {
  margin: 0 auto;
}

.center-w-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

// COLORs
.color-gray-mid { color: var(--gray-mid); }
.color-white { color: var(--white); }
.color-gray-text { color: var(--gray-text); }
.color-negative { color: var(--danger); }
.color-green { color: var(--green-dark); }
.color-linear {
  background-image: linear-gradient(.351turn,#769834 43.71%,#547D0E 58.8%);
  background-size: 100%;
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.color-gray-dark { color: var(--gray-dark); }

.ion-color-white { --color: var(--white); }
.ion-color-gray-text { --color: var(--gray-text); }

// PADDINGs
.no-ion-padding {
  --padding-top: 0;
  --padding-end: 0;
  --padding-bottom: 0;
  --padding-start: 0;
}

.p-all-0 {
  padding: 0;
}

// MARGINs
.mg-top-32 { margin-top: 32px; }
.mg-top-16 { margin-top: 16px; }
.mg-top-8 { margin-top: 8px; }
.mg-top-5 { margin-top: 5px; }

.mg-left-5 { margin-left: 5px; }
.mg-right-5 { margin-right: 5px; }

.mg-bottom-32 { margin-bottom: 32px; }
.mg-bottom-16 { margin-bottom: 16px; }

.m-0 { margin: 0 !important; }

// ANIMAÇÕES
@keyframes heartbeat {
  0% { transform: scale( .75 ); }
  20% { transform: scale( 1 ); }
  40% { transform: scale( .75 ); }
  60% { transform: scale( 1 ); }
  80% { transform: scale( .75 ); }
  100% { transform: scale( .75 ); }
}

// LINKs
.link-com-icone {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  transition: opacity 200ms ease;
  will-change: opacity;

  &:hover {
    opacity: .7;
  }

  &.pequeno {
    ion-icon {
      font-size: 18px;
      margin: 0 0 0 5px;
    }
  }
}

// DISPLAYS
.p-relative {
  position: relative;
}
