.sugest-card-wrapper {
  .sugest-card-container {
    box-shadow: rgba(0, 0, 0, .7) 0px 2px 5px;
    background: var(--gray-2);
    border: 1px solid #333;
    overflow: hidden;
    border-radius: 8px;

    ion-item {
      --background: transparent;
      --padding-start: 16px;
      --padding-end: 16px;
      --padding-top: 16px;
      --padding-bottom: 16px;
      --min-height: 64px;
      --inner-padding-end: 0;
      --detail-icon-color: var(--white);
      --detail-icon-font-size: 22px;
      --detail-icon-opacity: .7;

      ion-text {
        p {
          &.label {
            color: #ccc;
          }

          &.descricao {
            background-image: linear-gradient(.351turn,#769834 43.71%,#547D0E 58.8%);
            background-size: 100%;
            background-repeat: no-repeat;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }

    &:hover {
      ion-item {
        --detail-icon-opacity: 1;

        ion-text {
          p {
            &.label {
              color: var(--white);
            }

            &.descricao {
              background-image: linear-gradient(.351turn,#547D0E 43.71%,#769834 58.8%);
            }
          }
        }
      }
    }
  }

  .legenda {
    margin: 3px;
  }
}
