<ion-app>
  <ion-split-pane
  [when]="false"
  contentId="principal">
    <ion-menu
    contentId="principal"
    [type]="'overlay'">
      <ion-content
      [forceOverscroll]="false">
        <div class="perfil-wrapper">
          <ion-item
          lines="none"
          class="perfil ion-bg-transparent">
            <ion-icon
            [name]="'finger-print-outline'"
            [ngClass]="{'color-green': informacoes.primeiroNome }">
            </ion-icon>

            <ion-text
            class="color-gray-text line-height-23"
            mode="ios">
              <p class="fs-14 color-gray-text">
                <ng-container *ngIf="informacoes$">{{ informacoes.saudacao[informacoes.idioma.value] }},</ng-container>
              </p>
              <p class="nome font-baloo fs-20" *ngIf="informacoes$"><b>{{ informacoes.primeiroNome ? informacoes.primeiroNome : ('GERAL.VISITANTE' | translate) }}</b></p>

              <ion-menu-toggle>
                <ion-button
                (click)="irParaEditarDados()"
                [title]="'GERAL.ALTERAR' | translate"
                class="main-clear fs-14 tipo-link"
                fill="clear"
                shape="round"
                mode="md">
                  {{ 'GERAL.ALTERAR' | translate }} <ion-icon name="create-outline" class="mg-left-5"></ion-icon>
                </ion-button>
              </ion-menu-toggle>
            </ion-text>
          </ion-item>
        </div>

        <ion-item
        mode="ios"
        lines="none"
        class="ion-bg-transparent titulo">
          <ion-text mode="ios">
            <h2 class="color-gray-dark font-baloo m-0 fs-18"><b>Menu</b></h2>
          </ion-text>
        </ion-item>

        <ion-list
        class="bg-transparent"
        mode="ios">
          <ion-menu-toggle>
            <ion-item
            *ngFor="let item of opcoesDoMenu"
            (click)="definirItem(item)"
            [routerLink]="[item.rota]"
            [title]="item.titulo[informacoes.idioma.value]"
            [detailIcon]="true"
            class="line-height-23"
            mode="ios"
            lines="none"
            routerLinkActive="rota-ativa">
              <ion-icon [name]="item.icone + '-outline'"></ion-icon>

              <ion-text mode="ios">
                <p class="fs-20 titulo font-baloo">{{ item.titulo?.[informacoes.idioma.value] }}</p>
                <p class="fs-14 descricao">{{ item.descricao?.[informacoes.idioma.value] }}</p>
              </ion-text>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>

      <ion-footer mode="ios" class="ion-no-border bg-white">
        <ion-toolbar mode="ios" class="ion-bg-white">
          <div class="app-menu-footer">
            <anf-made-w-love [posicionamento]="'centro'" [darkMode]="false"></anf-made-w-love>
          </div>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>

    <ion-router-outlet id="principal"></ion-router-outlet>
  </ion-split-pane>
</ion-app>

