<ion-content
[fullscreen]="true">
  <section
  class="primeiro-acesso full-size overflow-hidden ">
    <swiper-container
    #primeiroAcessoSwiper
    (swiperslidechange)="slideMudou()"
    class="full-height"
    slides-per-view="1"
    speed="500"
    allow-touch-move="false">
      <swiper-slide>
        <!-- PRIMEIRO SLIDE -->
        <section class="primeiro-slide full-size">
          <div class="primeiro-slide-container">
            <ion-text
            class="text-center color-gray-text full-width icone-titulo-texto"
            mode="ios">
              <ion-icon
              name="finger-print-outline"
              class="full-width fs-32"
              [ngClass]="{ 'animate__animated animate__fadeInUp':  indexAtual === 0}">
              </ion-icon>
              <h2 class="font-baloo"><b>Primeiro acesso</b></h2>
              <p class="com-sarcasmo pt">precisamos nos conhecer<span>, é rapidinho.</span></p>
            </ion-text>
          </div>
        </section>
      </swiper-slide>

      <swiper-slide>
        <!-- SEGUNDO SLIDE -->
        <section class="segundo-slide full-size">
          <div class="segundo-slide-container">
            <ion-text
            class="text-center color-gray-text full-width icone-titulo-texto"
            mode="ios">
              <ion-icon
              name="id-card-outline"
              class="full-width fs-32"
              [ngClass]="{ 'animate__animated animate__fadeInUp':  indexAtual === 1}">
              </ion-icon>
              <h2 class="font-baloo"><b>Seu nome</b></h2>
              <p>te chamarei pelo nome daqui pra frente.</p>
            </ion-text>

            <ion-text
            class="color-gray-text text-left full-width mg-top-32"
            mode="ios">
              <p class="fs-12">Insira abaixo</p>
            </ion-text>

            <ion-item
            [lines]="'none'"
            class="full-width ion-bg-transparent"
            mode="ios">
              <ion-input
              [autocorrect]="false"
              [clearInput]="true"
              class="ion-bg-transparent"
              #inputPrimeiroNome
              type="text"
              inputmode="text"
              [(ngModel)]="nomeDoVisitante"
              (keyup)="transformarNome(nomeDoVisitante)"
              mode="ios"
              labelPlacement="stacked"
              placeholder="Ex: Felipe">
              </ion-input>

              <ion-icon
              [ngClass]="{'ocultar-opacidade': nomeDoVisitante.length >= 3}"
              name="warning-outline"
              class="fs-18 color-negative">
              </ion-icon>
            </ion-item>

            <ion-text
            mode="ios"
            [ngClass]="{'ocultar-opacidade': nomeDoVisitante.length >= 3}"
            class="text-left full-width">
              <p class="color-negative fs-12">
                <ng-container *ngIf="nomeDoVisitante.length !== 0">no mínimo <b>3</b> caracteres</ng-container>
                <ng-container *ngIf="nomeDoVisitante.length === 0">obrigatório</ng-container>
              </p>
            </ion-text>
          </div>
        </section>
      </swiper-slide>

      <swiper-slide>
        <!-- TERCEIRO SLIDE -->
        <section class="terceiro-slide full-size">
          <div class="terceiro-slide-container">
            <ion-text
            class="text-center color-gray-text full-width icone-titulo-texto"
            mode="ios">
              <ion-icon
              name="language-outline"
              class="full-width fs-32"
              [ngClass]="{ 'animate__animated animate__fadeInUp':  indexAtual === 2}">
              </ion-icon>
              <h2 class="font-baloo"><b>Seu idioma</b></h2>
              <p>como quer ver o conteúdo.</p>
            </ion-text>

            <anf-language-button></anf-language-button>
          </div>
        </section>
      </swiper-slide>

      <swiper-slide>
        <!-- QUARTO SLIDE -->
        <section class="quarto-slide full-size">
          <div class="quarto-slide-container">
            <ion-text
            class="text-center color-gray-text full-width icone-titulo-texto"
            mode="ios">
              <ion-icon
              name="location-outline"
              class="full-width fs-32"
              [ngClass]="{ 'animate__animated animate__fadeInUp':  indexAtual === 3}">
              </ion-icon>
              <h2 class="font-baloo"><b>Uma cidade</b></h2>
              <p>estamos somente na Baixada Santista.</p>
            </ion-text>

            <anf-city-button></anf-city-button>
          </div>
        </section>
      </swiper-slide>

      <swiper-slide>
        <!-- QUINTO SLIDE -->
        <section class="quinto-slide full-size">
          <div class="quinto-slide-container">
            <ion-text
            class="text-center color-gray-text full-width icone-titulo-texto"
            mode="ios">
              <ion-icon
              name="log-in-outline"
              class="full-width fs-38"
              [ngClass]="{ 'animate__animated animate__fadeInUp':  indexAtual === 4}">
              </ion-icon>
              <h2 class="font-baloo"><b>Tudo pronto</b></h2>
              <p>serei o seu anfitrião {{ informacoes.cidadeEscolhida.location[informacoes.idioma.value] }}.</p>
            </ion-text>

            <ion-button
            (click)="boasVindas()"
            [disabled]="nomeDoVisitante.length <= 2"
            title="Ver sugestões"
            shape="round"
            [fill]="'solid'"
            size="normal"
            [ngClass]="'main'"
            class="icone-a-direita mg-top-32"
            mode="md">
              Conhecer <span class="mg-left-5"><b>{{ informacoes.cidadeEscolhida.text }}</b></span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
            </ion-button>

            <ion-text
            mode="ios"
            *ngIf="nomeDoVisitante.length <= 2"
            class="text-center full-width mg-top-32">
              <p class="color-negative fs-12 center-w-flex">
                <ion-icon
                [ngClass]="{'ocultar-opacidade': nomeDoVisitante.length > 3}"
                name="warning-outline"
                class="fs-18 color-negative mg-right-5">
                </ion-icon>

                volte e defina <span class="mg-left-5"><b>um nome</b></span>
              </p>
            </ion-text>
          </div>
        </section>
      </swiper-slide>
    </swiper-container>
  </section>
</ion-content>

<ion-footer
class="ion-no-border bg-white"
mode="ios">
  <ion-toolbar
  class="ion-bg-white no-ion-padding">
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col size="3">
          <div class="stepper-wrapper full-height">
            <ion-text
            [ngClass]="indexAtual === 0 || indexAtual === 4 ? 'item-escondido-suavemente' : 'aparecer-suavemente'"
            mode="ios"
            class="color-gray-text fs-14">
              <p><span class="fs-18"><b>{{ indexAtual }}</b></span> de 3</p>
            </ion-text>
          </div>
        </ion-col>

        <ion-col
        size="9"
        class="text-right">
          <ion-button
          *ngIf="indexAtual !== 0 && indexAtual !== 1"
          (click)="retornarSwiper()"
          title="Voltar"
          [ngClass]="indexAtual === 0 || indexAtual === 1 ? 'item-escondido-suavemente' : 'aparecer-suavemente'"
          shape="round"
          fill="clear"
          size="normal"
          class="main-clear icone-a-esquerda"
          mode="md">
            <ion-icon name="arrow-back-outline"></ion-icon>
            Voltar
          </ion-button>

          <ion-button
          [disabled]="(indexAtual === 1 && nomeDoVisitante.length <= 2)"
          *ngIf="indexAtual !== 4"
          (click)="avancarSwiper()"
          title="Avançar"
          shape="round"
          fill="solid"
          size="normal"
          class="main icone-a-direita"
          mode="md">
            Avançar
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
