<div class="city-button-wrapper">
  <ion-button
  id="seletor-de-cidade"
  title="Selecionar cidade"
  shape="round"
  fill="solid"
  size="normal"
  class="main icone-a-direita mg-top-32 overflow-hidden"
  mode="md">
    {{ selectedCity?.text }}
    <ion-icon name="chevron-down-outline"></ion-icon>

    <ion-select
    (ionChange)="definirCidade($event)"
    label="Uma cidade"
    mode="ios">
      <ion-select-option
      *ngFor="let city of cities"
      [value]="city.value">
        {{ city.text }}
      </ion-select-option>
    </ion-select>
  </ion-button>

  <ion-text mode="ios" class="full-width text-center">
    <p class="fs-12 color-gray-text">Altere quando quiser</p>
  </ion-text>
</div>
