@import './../../../assets/scss/utils/mixins.scss';

.city-button-wrapper {
  @include flexbox(center, center, column);

  ion-button {
    --padding-start: 16px;
    --padding-end: 16px;
    position: relative;
    padding-bottom: 3px;
    margin-bottom: 18px;

    ion-select {
      opacity: 0;
      width: 100%;
      position: fixed;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      height: 100%;
    }
  }
}
