@import './../../../assets/scss/utils/mixins.scss';

.footer-wrapper {
  &.dark-mode {
    background: var(--gray-2);

    .footer-middle {
      .anf-publicidade-wrapper {
        .anf-publicidade-content {
          background: var(--gray-2);
          border: 1px solid var(--gray-3);
        }
      }
    }
  }

  &.light-mode {
    background: linear-gradient(to bottom, var(--white), var(--gray-ed));

    .footer-middle {
      .anf-publicidade-wrapper {
        .anf-publicidade-content {
          background: var(--white);
          box-shadow: rgba(0, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        }
      }
    }
  }

  .footer-middle {
    .anf-publicidade-wrapper {
      width: 100%;
      @include flexbox(flex-end, center, column);
      max-width: 768px;
      margin: 0 auto;

      .anf-publicidade-content {
        width: 100%;
        height: 90px;
        border-radius: 8px;
      }
    }
  }

  .footer-bottom {
    .footer-bottom-wrapper {
      @include flexbox(center, flex-end, row);
    }

    .rede-social-wrapper {
      @include flexbox(center, center, row);

      ion-button:not(:first-child) {
        margin-left: 8px;
      }

      @media only screen and (min-width: 768px) {
        @include flexbox(center, flex-start, row);
      }
    }
  }
}
