<div
class="footer-wrapper full-width"
[ngClass]="{
  'dark-mode': darkMode,
  'light-mode': !darkMode
}">
  <div class="footer-middle full-width">
    <ion-grid
    [fixed]="true">
      <ion-row>
        <ion-col
        size="12">
          <div class="anf-publicidade-wrapper">
            <div class="anf-publicidade-content overflow-hidden">

            </div>

            <ion-text mode="ios">
              <p
              class="fs-12 mg-top-8"
              [ngClass]="{
                'color-white': darkMode,
                'color-gray-text': !darkMode
              }">{{ 'GERAL.PUBLICIDADE' | translate }}</p>
            </ion-text>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div class="footer-bottom">
    <ion-grid
    [fixed]="true">
      <ion-row>
        <ion-col
        size="12">
          <div class="footer-bottom-wrapper full-width">
            <ng-content select=".botao-scroll-to-top"></ng-content>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col
        size="12">
        <!-- ESPAÇO RESERVADO PARA O BOTÃO SCROLL TO TOP -->
          <anf-made-w-love
          [darkMode]="darkMode"
          [centralizarNoMobile]="true"
          [posicionamento]="'esquerda'">
          </anf-made-w-love>
        </ion-col>

        <ion-col
        class="no-padding-top-bottom"
        size="12">
          <div class="rede-social-wrapper full-width">
            <ion-button
            *ngFor="let rede of redesSociais"
            [href]="rede.url"
            [title]="rede.nome?.[informacoes.idioma.value]"
            class="rede-social"
            [ngClass]="{
              'dark-mode' : darkMode,
              'light-mode' : !darkMode
            }"
            target="_blank"
            size="small"
            fill="clear">
              <ion-icon [name]="'logo-' + rede.label"></ion-icon>
            </ion-button>
          </div>
        </ion-col>

        <ion-col size="12" class="mg-bottom-16">
          <anf-copyright [darkMode]="darkMode"></anf-copyright>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>
