@import './../../../assets/scss/utils/mixins.scss';

ion-content {
  background: linear-gradient(to bottom, var(--gray-fa) 40%, var(--white));

  section {
    &.qual-a-boa-wrapper {
      width: 100%;
      height: calc(100% - 70px);
      @include flexbox(center, center, column);

      .qual-a-boa-container {
        margin-top: -52px;

        ion-text {
          p {
            &.nome {
              margin-left: -10px;
            }

            &.cidade {
              margin-right: -13px;
            }
          }
        }
      }

      .qual-a-boa-swiper {
        padding: 32px 0;
        position: relative;

        .swiper-buttons {
          @include flexbox(center, space-between, row);
          width: 100%;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 314;
          margin-top: 30px;

          ion-button {
            font-size: 38px;
            --color: var(--white);

            &.voltar { left: 0; }
            &.avancar { right: 0; }

            ion-icon {
              filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .4))
            }
          }
        }

        swiper-container {
          swiper-slide {
            width: auto;
          }
        }
      }
    }
  }
}

.swiper-description {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
  padding: 16px 16px 8px 16px;
}

// DIVS ESPECIAIS
.sem-categorias { margin-top: 46px; }
.carregando-categorias { margin-top: 32px; }
