

<ion-content
#conteudoQualAboa
[forceOverscroll]="false"
[fullscreen]="true">

  <!-- CABEÇALHO -->
  <anf-header
  [origem]="'tela-qual-a-boa'"
  [darkMode]="false"
  [mostrarLogo]="false">
  </anf-header>

  <section
  class="qual-a-boa-wrapper">
    <div
    class="qual-a-boa-container">
      <ion-text
      class="color-gray-text icone-titulo-texto font-baloo line-height-22"
      mode="ios">
        <ion-icon
        name="bulb-outline"
        class="full-width fs-32 animate__animated animate__fadeInUp">
        </ion-icon>

        <p class="text-left fs-20 color-linear nome" *ngIf="informacoes$"><b>{{ informacoes.primeiroNome }}</b>,</p>
        <h2 class="text-center fs-24 m-0"><b>qual a boa pra hoje</b></h2>
        <p class="text-right fs-18 cidade">em {{ informacoes.cidadeEscolhida.text }}?</p>
      </ion-text>
    </div>

    <div class="qual-a-boa-swiper full-width">
      <!-- CATEGORIA -->
      <swiper-container
      #qualaboaSwiper
      allow-touch-move="false"
      slides-per-view="auto"
      centered-slides="true"
      speed="500"
      space-between="32">
        <swiper-slide *ngFor="let categoria of categorias; let i = index">
          <anf-category-card
          (click)="selecionarCategoria(categoria, i)"
          [foiSelecionado]="categoriaSelecionada?.value === categoria?.value"
          [texto]="categoria.texto"
          [icone]="categoria.icone"
          [especial]="categoria.especial"
          [value]="categoria.value">
          </anf-category-card>
        </swiper-slide>
      </swiper-container>

      <!-- DESCRIÇÃO -->
      <swiper-container
      allow-touch-move="false"
      #qualaboaDescricaoSwiper
      slides-per-view="1"
      centered-slides="true"
      speed="0"
      space-between="0">
        <swiper-slide *ngFor="let categoria of categorias">
          <div class="swiper-description">
            <ion-text
            mode="ios"
            class="text-center line-height-20">
              <h2
              class="color-linear fs-20 font-baloo"
              [ngClass]="{'animate__animated animate__fadeInDown animate__slow' : categoria?.value === categoriaSelecionada?.value}">
                <b>{{ categoria?.texto?.pt }}</b>
              </h2>

              <p class="fs-14 color-gray-mid mg-top-16">
                Para quem procura
              </p>

              <p class="fs-16 color-gray-dark">
                {{ categoria?.descricao?.pt }}
              </p>
            </ion-text>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>

    <div class="qual-a-boa-botao-wrapper">
      <ion-button
      (click)="irPara(categoriaSelecionada)"
      title="Ver"
      shape="round"
      [fill]="'solid'"
      size="normal"
      class="main icone-a-direita animate__animated animate__fadeIn"
      mode="md">
        Ver <span class="mg-left-5 text-lowercase"><b>{{ categoriaSelecionada?.texto?.pt }}</b></span>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </section>

  <!-- RODAPÉ -->
  <anf-footer>
    <ion-button
    fill="clear"
    shape="round"
    mode="md"
    title="Voltar para o topo"
    (click)="irParaTopoDaTela()"
    class="botao-scroll-to-top main-clear fs-13 tipo-link">
      Voltar <span class="mg-left-5 mg-right-5"><b>para o topo</b></span> <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-button>
  </anf-footer>
</ion-content>
