<ion-content
[forceOverscroll]="false">
  <anf-header [darkMode]="false" [mostrarLogo]="false"></anf-header>

  <section class="contato full-width">
    <div class="contato-wrapper full-width">
      <ion-text
      class="text-center color-gray-text full-width icone-titulo-texto"
      mode="ios">
        <ion-icon
        name="chatbubble-ellipses-outline"
        class="full-width fs-32 animate__animated animate__fadeInUp">
        </ion-icon>
        <h2 class="font-baloo">
          {{ 'TELA_CONTATO.EAI' | translate }}<span class="mg-left-5"><b>{{ informacoes.primeiroNome ? informacoes.primeiroNome : ('GERAL.VISITANTE' | translate) }}</b>,</span>
        </h2>
        <p>{{ 'TELA_CONTATO.DESCRICAO' | translate }}</p>
      </ion-text>

      <ion-segment
      [(ngModel)]="tipoDeContato"
      mode="ios">
        <ion-segment-button value="comercial" [title]="'TELA_CONTATO.COMERCIAL' | translate">
          <ion-label>{{ 'TELA_CONTATO.COMERCIAL' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="outros" [title]="'TELA_CONTATO.OUTROS' | translate">
          <ion-label>{{ 'TELA_CONTATO.OUTROS' | translate }}</ion-label>
        </ion-segment-button>
      </ion-segment>

      <ng-container *ngIf="tipoDeContato === 'comercial'">
        <a
        (click)="mostrarAlerta('email')"
        class="contato-zap-mail mg-bottom-32"
        href="javascript:void(0)"
        [title]="'TELA_CONTATO.ENVIAR_EMAIL' | translate">
          <span class="color-linear font-baloo no-text-decor fs-14"><span class="fs-18"><b>anfitrionappoficial</b>{{'@gmail.com'}}</span></span>
          <span class="simular-botao no-text-decor fs-13">{{ 'TELA_CONTATO.ENVIAR_EMAIL' | translate }} <ion-icon name="mail-outline" class="mg-left-5"></ion-icon></span>
        </a>

        <ion-text mode="ios">
          <p class="fs-13 color-gray-mid">{{ 'TELA_CONTATO.PARA_ANUNCIOS_E_PARCERIAS.0' | translate }}<span class="mg-left-5"><b>{{ 'TELA_CONTATO.PARA_ANUNCIOS_E_PARCERIAS.1' | translate }}</b></span></p>
        </ion-text>
      </ng-container>

      <ng-container *ngIf="tipoDeContato === 'outros'">
        <a
        (click)="mostrarAlerta('whatsapp')"
        class="contato-zap-mail mg-bottom-32"
        href="javascript:void(0)"
        [title]="'TELA_CONTATO.ENVIAR_MENSAGEM' | translate">
          <span class="color-linear font-baloo no-text-decor">+55 (013) <span class="fs-20"><b>9 9733.0408</b></span></span>
          <span class="simular-botao no-text-decor fs-13">
            {{ 'TELA_CONTATO.ENVIAR_MENSAGEM' | translate }}
            <ion-icon name="logo-whatsapp" class="mg-left-5"></ion-icon>
          </span>
        </a>

        <ion-text mode="ios">
          <p class="fs-13 color-gray-mid">
            {{ 'TELA_CONTATO.PARA_SUGESTOES_CRITICAS_ELOGIOS.0' | translate }}<span class="mg-left-5"><b>{{ 'TELA_CONTATO.PARA_SUGESTOES_CRITICAS_ELOGIOS.1' | translate }}</b></span>
          </p>
        </ion-text>
      </ng-container>
    </div>
  </section>
</ion-content>
